p {
    font-size: 1.2em;
}

.post {
    text-align: justify;
}

#post-content {
    text-align: justify;
}

figure {
    /* display: flex; */
    text-align: center;
    width: 100%;
    max-width: 100%;
    /* min-width: 600px; */
    overflow: auto;
    /* object-fit: fill; */
    /* max-height: max-content; */
}

figure img {
    width: 100%;
    max-width: fit-content;
    height: auto;
}

.pi img {
    width: 350px;
    height: auto;
    border-radius: 40px;
    border: 1px solid;
}

.pi figcaption {
    font-size: x-large;
}

.members-frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.members {
    /* display: inline-block; */
    /* display: table-cell; */
    /* display: flex; */

    width: calc(25% - 2em);
    max-width: fit-content;
    /* min-width: 100px; */
    padding: 1em;
    margin: 1em;
    align-items: center;
    text-align: center;
    /* overflow: hidden; */

}

.alumni {
    width: calc(16.66% - 2em);
    max-width: 200px;
    min-width: 100px;
    padding: 1em;
    margin: 1em;
    align-items: center;
    text-align: center;
}

.members img, .alumni img {
    max-width: 100%;
    /* min-width: 150px; */
    border: 1px solid;
    border-radius: 50%;
    /* object-fit: cover; */
}

@media only screen and (max-width: 750px) {
    .pi img {
        width: 50%;
    }
    .members {
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: left;
    }

    .members img {
        width: 30%;
    }

    .members figcaption {
        margin-left: 50px;
    }

    /* .alumni img {
        min-width: 5%;
    } */
    
    .alumni figcaption {
        /* font-size: 8pt; */
        text-align: center;
    }
}

/* img {
    width: 100%;
} */

.recent-list {
    /* text-indent: 0; */
    text-align: justify;
    list-style-position: outside !important;
    padding-bottom: 1em;
}

.archive-list {
    padding-left: 1em;
}


.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}
