h1.carousel {
    font-size: 2.5em;
}

.navbar-header {
    height: 67px;
}

.logo {
    padding: 3px;
}

.logo img {
    min-height: 61px;
}

.well h3 {
    margin: 0;
    padding-left: 10px;
}

.well p {
    font-size: 1em;
    padding-right: 10px;
}

.well-sm {
    background: rgb(215, 236, 255);
    box-shadow: 10px 10px 5px #888888;
}

.news-date {
    margin: 0;
}

.margin-lr {
    margin-left: 3%;
    margin-right: 10%;
}

.mt {
    margin-top: 30px;
}

.map {
    max-width: 100vw;
    max-height: 56.25vw;
}

#copyright {
    padding: 5px 0;
}




/* navbar */

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}